pkgbase = brave
	pkgdesc = A web browser that stops ads and trackers by default
	pkgver = 0.66.99
	pkgrel = 1
	url = https://www.brave.com/download
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = npm
	makedepends = python2
	makedepends = icu
	makedepends = glibc
	makedepends = gperf
	makedepends = java-runtime-headless
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = gconf
	depends = libxss
	depends = ttf-font
	depends = libva
	optdepends = cups: Printer support
	optdepends = pepper-flash: Adobe Flash support
	optdepends = libgnome-keyring: Enable GNOME keyring support
	source = git+https://github.com/brave/brave-browser.git#tag=v0.66.99
	source = chromium-vaapi-fix.patch
	source = brave-vaapi-enable.patch
	source = brave-build-fix.patch
	source = brave-launcher
	source = brave.desktop
	source = logo.png
	sha256sums = SKIP
	sha256sums = 83cca45acc2515b9c83f34844494a8788f85bb04c36834b88e905c490988d9bb
	sha256sums = 2b07eabd8b3d42456d2de44f6dca6cf2e98fa06fc9b91ac27966fca8295c5814
	sha256sums = 45c3ab1e7efc4508f87403446ddd8017c695ce669c8467353e255f2a8fb933c6
	sha256sums = d3c9be4babc754271ad8d6169705ec319fa45d406184d7677fa83a4a2df49acf
	sha256sums = 4c3dbceaf7d791f94d6e46c26c62a1b500bdf3a25a2ecf97a5075e86649b63ef
	sha256sums = 4a585cb8740f4c9ba267f0df19d894eb9fae1b9a6af4a3e44737b7d0bcbc104a

pkgname = brave

